@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: white;
    /*#222327 */
    --text-color: black;
    /*#fff*/
    --main-color: #29fd53;
}

body {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}

.logo span {
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 500;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover  {
    color: var(--main-color);
}

/* .navbar a.active {
    color: var(--main-color);
} */

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.user {
    display: flex;
    align-items: center;
}

.user i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

.main a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.thinking {
    opacity: 0.4;
}

.navbar1 {
    background-color: aqua;
}

/* FOOTER */
footer {
    background-color: cyan;
    /* color */
    padding: 30px 0;
    /* font-family */
    font-weight: bold;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-4 {
    flex: 0 0 33%;
    max-width: 33%;
    text-align: center;
}

h3 {
    margin-bottom: 15px;
    color: #DF00DF;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}
.dropdown-menu {
    display: none;
}
.navbar li:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 750px;
    /* width: 100px; */
    background-color: cyan;
}

.dropdown-menu ul {
    display: block;
}
/* .dropdown-menu ul li {
    
} */
.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}
@media(max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media(max-width: 1090px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 40vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 20px;
        transition: all .50s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .navbar a:hover {
        color: var(--bg-color);
        transform: translateY(5px);
    }

    .navbar.open {
        right: 2px;
    }

    /* .navbar a.active {
        color: var(--bg-color);
    } */
}

/* Nested navbar */
.sub-menu-1 {
    display: none;
}

@media(max-width: 991px) {
    .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media(max-width: 767px) {
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}